<!DOCTYPE HTML>
<html>
<head>
<title>Tut</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
</head>
<body>

	<script id="template" type="text/template">
		<div class="post">
			<article>
				<h6 class="date"><%= date %></h6>
				<div class="postContent <%= type %>">
				</div>
				<div class="indexPage">
					<a class="permalink" href="{Permalink}">{lang:Permalink}</a>
					<a class="noteCount" data-toggle="modal" data-postid="{PostID}" data-postnotesurl="{PostNotesURL}" href="{Permalink}">
						<i class="icon icon-heart"></i>{NoteCountWithLabel}
					</a>
				</div>
			</article>
		</div>
	</script>

	<script id="template_photo" type="text/template">
		<div class="post">
			<article>
				<h6 class="date"><%= date %></h6>
				<div class="postContent <%= type %>">
					<figure>
						<a class="modalLink" data-toggle="modal" data-postid="<%= id %>" data-postnotesurl="{PostNotesURL}" href="{LinkURL}">
							<i class="zoomInIcon icon-zoom-in icon-white"></i>
							<img src="<%= photos[0].alt_sizes[3].url %>" alt=""/>
						</a>
						<% if (caption) { %><figcaption class="caption"><%= caption %></figcaption><% } %>
					</figure>
				</div>
				<div class="indexPage">
					<a class="permalink" href="{Permalink}">{lang:Permalink}</a>
					<a class="noteCount" data-toggle="modal" data-postid="{PostID}" data-postnotesurl="{PostNotesURL}" href="{Permalink}">
						<i class="icon icon-heart"></i>{NoteCountWithLabel}
					</a>
				</div>
			</article>
		</div>
	</script>

	<script type="text/javascript">
		var template =
			"<article>" +
				"<h6><%= date %></h6>" +
				"<%= id %>" +
			"</article>"
		;

	(function($){
		// **Item class**: The atomic part of our Model. A model is basically a Javascript object, i.e. key-value pairs, with some helper functions to handle event triggering, persistence, etc.
		var Item = Backbone.Model.extend({
			defaults:{
				id:'0',
				date:'20010101',
				type:'photo'
			}
		});
		
		var Photo = Item.extend({
			defaults:
				_.extend(
					Item.prototype.defaults,
					{
						photos:[],
						caption:'',
						width:0,
						height:0
					}
				)
		});

		// **List class**: A collection of `Item`s. Basically an array of Model objects with some helper functions.
		var List = Backbone.Collection.extend({
			model:function(attrs, options) {
				switch(attrs.type){
					case 'photo':
						return new Photo(attrs, options);
						break;
					default:
						return new Item(attrs, options);
						break;
				}
			}
		});
		// var List = Backbone.Collection.extend({
		// 	model: Item
		// });

		var ListView = Backbone.View.extend({
			el: $('body'),
			events: {
				'click button#add': 'addItem'
			},

			// `initialize()` now instantiates a Collection, and binds its `add` event to own method `appendItem`. (Recall that Backbone doesn't offer a separate Controller for bindings...).
			initialize: function(){
				_.bindAll(this, 'render', 'addItem', 'appendItem'); // remember: every function that uses 'this' as the current object should be in here
				
				this.collection = new List();
				this.collection.bind('add', this.appendItem); // collection event binder

				this.counter = 0;

				this.render();
			},

			render: function(){
				// Save reference to `this` so it can be accessed from within the scope of the callback below
				var self = this;
				$(this.el).append("<button id='add'>Add list item</button>");
				$(this.el).append("<ul></ul>");
				_(this.collection.models).each(function(item){ // in case collection is not empty
					self.appendItem(item);
				}, this);
			},

			// `addItem()` now deals solely with models/collections. View updates are delegated to the `add` event listener `appendItem()` below.
			addItem: function(){
				// Makes request for post
				var _this = this;

				callback = function(data) {
					_.each(data.response.posts, function(post){
						var item;

						switch(post.type){
							case 'photo':
								item = new Photo(_.pick(post, 'id', 'date', 'type', 'photos', 'caption'));
								break;
							default:
								item = new Item(_.pick(post, 'id', 'date', 'type'));

						}

						_this.collection.add(item);
					});
				}

				$.ajax({
					url:'http://api.tumblr.com/v2/blog/mintyfied.tumblr.com/posts',
					dataType:'jsonp',
					data:{
						limit:'10',
						api_key:'0eTJreMUDVmiI3uF7kaSTf8pYUXOowEjzoJw0l7tT5oTjWsyWr',
						reblog_info:'true',
						jsonp:'callback'
					}
				});
			},

			// `appendItem()` is triggered by the collection event `add`, and handles the visual update.
			appendItem: function(item){

				if (item.get('type') == 'photo')
					$(this.el).append(_.template($('#template_photo').html(), item.attributes));
				else
					$(this.el).append(_.template($('#template').html(), item.attributes));
			}
		});

		var listView = new ListView();
	})(jQuery);
	</script>
</body>
</html>